body {
    margin: 0px;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-position: center;
    background-image: url(img/blurrycitynight.jpg);
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

#divAddMain, #divSearchMain, #divListMain {
    border-radius: 10px;
    margin: 10px;
    margin-top: 50px;
    padding: 30px;
    gap: 10px;
    flex-grow: 1;
    height: fit-content;
    border: 3px solid rgb(238, 188, 96);
}

#divAddMain, #divSearchMain {
    display: flex;
    flex-direction: column;
    background-color: rgb(183, 224, 164);
}

body #divListMain {
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
}

#divList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    height: 450px;
    overflow-y: scroll;
}

.cityDiv {
    padding: 15px;
    background-color: rgb(92, 124, 88);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteButton {
    background-color: rgb(224, 176, 85);
    color: black;
    font-size: 8px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.deleteButton:hover {
    background-color: rgb(192, 150, 73);
}

.deleteButton:active {
    background-color: rgb(172, 134, 64);
}

.inputDiv {
    background-color: whitesmoke;
    padding: 10px;
}

#citiesSearchDiv  {
    height: 200px;
    background-color: whitesmoke;
    overflow-y: scroll;
}

button {
    padding: 20px;
    background-color: rgb(134, 179, 127);
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color:  rgb(119, 150, 115);
}

button:active {
    background-color:  rgb(92, 124, 88);
    color: white;
}

input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}