body {
    margin: 0px;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-position: center;
    background-color: blanchedalmond;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

#divAddMain, #divSearchMain, #divListMain {
    border-radius: 10px;
    margin: 10px;
    margin-top: 50px;
    padding: 30px;
    gap: 10px;
    flex-grow: 1;
    height: fit-content;
    border: 3px solid burlywood;
}

#divAddMain, #divSearchMain {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
}

body #divListMain {
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
}

#divList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    height: 450px;
    overflow-y: scroll;
}

#citiesSearchDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}

.cityDiv {
    padding: 15px;
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgb(54, 54, 54);
}

.deleteButton {
    background-color: blanchedalmond;
    color: black;
    font-size: 8px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.deleteButton:hover {
    background-color: rgb(226, 208, 181);
}

.deleteButton:active {
    background-color: rgb(158, 139, 112);
}

.inputDiv {
    background-color: whitesmoke;
    padding: 10px;
}

#citiesSearchDiv  {
    height: 200px;
    background-color: whitesmoke;
    overflow-y: scroll;
}

button {
    padding: 20px;
    background-color: blanchedalmond;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color:  rgb(226, 208, 181);
}

button:active {
    background-color:  rgb(161, 143, 118);
    color: white;
}

input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}